


    <!-- Footer --> 
    <footer id="colophon" class="site-footer">

        <div class="container-fluid">

            <ul class="list-unstyled list-inline">
                <li class="page-scroll"><a href="/">Home</a></li>
                <% if (pageName === 'home') { %>
                    <li class="page-scroll"><a href="#intro">Intro</a></li>
                    <li class="page-scroll"><a href="#about">About</a></li>
                    <li class="page-scroll"><a href="#skills">Skills</a></li>
                    <li class="page-scroll"><a href="#stack">Built With</a></li>
                    <li class="page-scroll"><a href="#history">My Journey</a></li>
                    <li class="page-scroll"><a href="#resume">Resume</a></li>
                    <li class="page-scroll"><a href="#activity">Activities</a></li>
                    <li class="page-scroll"><a href="#contact">Contact</a></li>
                <% } %>
            </ul>

            <div class="page-scroll">
                <a href="#top" class="rectangle">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            </div>

        </div>

        <div class="container text-center">
            Christopher Yu
        </div>

    </footer><!-- /#footer -->
    <!-- End Footer --> 


    <!-- Bootstrap core js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Bootstrap progressbar JS -->
    <script src="assets/js/bootstrap-progressbar.min.js"></script>

    <!-- Count To JS -->
    <script src="assets/js/jquery.countTo.min.js"></script>

    <!-- Easing JS -->
    <script src="assets/js/jquery.easing.min.js"></script>

    <!-- Shuffle JS -->
    <script src="assets/js/jquery.shuffle.min.js"></script>

    <!-- Slick Carousel JS -->
    <script src="assets/js/slick.min.js"></script>

    <!-- Touchswipe JS -->
    <script src="assets/js/touchswipe.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js"></script>
    
    <!-- Custom JS - home -->
    <% if (pageName === 'home') { %>
        <script src="assets/js/home.js"></script>
    <% } %>

</body>
</html>
