<!DOCTYPE html>
<html lang="en">
<head>
    <!--@@@@@@@@@@@@@@@@@@ Template Start @@@@@@@@@@@@@@@@@@-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="Christopher Yu">
    <meta name="keywords" content="">

    
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon_io/apple-touch-icon.png">
    <link rel="android-chrome-icon" sizes="144x144" href="assets/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon_io/favicon-16x16.png">
    <link rel="icon" sizes="16x16" href="assets/img/favicon_io/favicon.ico">
    <link rel="manifest" href="assets/img/favicon_io/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <!-- Font Awesome core CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!--@@@@@@@@@@@@@@@@@@ Template End @@@@@@@@@@@@@@@@@@-->

    <title>Christopher Yu</title>

<!-- 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
    <!-- Moved to head section for the custom script in ejs -->
    <!-- jQuery core js -->
    <script src="assets/js/jquery.min.js"></script>
</head>

<body>
    <% if (pageName === 'home') { %>
        <!-- Hero Section, Background Image change in css -->
        <div id="top" class="hero background-overlay">
        
            <!-- Name & Description -->
            <div class="hero-content">
                <h1>Christopher Suk-hwan Yu</h1>
                <!-- <p class="hero-job"><span></span></p>
                <p class="hero-job-desc"> &amp; </p> -->

            </div><!-- /.hero-content -->

            <div class="hero-arrow page-scroll home-arrow-down">
                <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
            </div><!-- /.hero-arrow -->

        </div><!-- /.hero -->
        <!-- End Hero -->
    <% } %>   
    <!-- Header -->
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation" data-spy="affix">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Name -->
                    <div class="page-scroll site-logo">
                        <a href="/">Christopher Yu</a>
                    </div>

                </div><!-- /.navbar-header -->

                <div class="main-menu collapse navbar-collapse" id="portfolio-perfect-collapse">

                    <!-- Navigation -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll"><a href="/">Home</a></li>
                        <% if (pageName === 'home') { %>
                            <li class="page-scroll"><a href="/#intro">Intro</a></li>
                            <li class="page-scroll"><a href="#about">About</a></li>
                            <li class="page-scroll"><a href="#skills">Skills</a></li>
                            <li class="page-scroll"><a href="#stack">Built With</a></li>
                            <li class="page-scroll"><a href="#history">My Journey</a></li>
                            <li class="page-scroll"><a href="#resume">Resume</a></li>
                            <li class="page-scroll"><a href="#activity">Activities</a></li>
                            <li class="page-scroll"><a href="#contact">Contact</a></li>
                        <% } %>
                    </ul><!-- /.navbar-nav -->
                </div><!-- /.navbar-collapse -->
            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->
    <!-- End Header -->
