<%- include('partials/header') %>

<!-- Main content -->
<main id="main" class="site-main">

    <!-- Hello section -->
    <section class="site-section section-hello" id="intro">
        <div class="container">
            <h2>Christopher Suk-hwan Yu</h2>
            <p class="section-subtitle"><span>Welcome</span></p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="main-service text-right">
                        <div class="rectangle">
                            <i class="fa fa-file-code-o" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>Tech-Savvy</h3>
                        <p>Proficient in various skills including programming, systems administration, cloud computing, and DevOps</p>
                    </div><!-- /.main-service -->
                    <div class="main-service text-right">
                        <div class="rectangle">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>
                        <h3>Communication</h3>
                        <p>Skilled in facilitating clear communication across diverse teams, ensuring seamless collaboration. Adept at translating technical concepts and resolving misunderstandings to drive projects forward.</p>
                    </div><!-- /.main-service -->
                </div>
                <div class="col-sm-4">
                    <div class="big-rectangle">
                        <!-- <img src="assets/img/developer-icon.png" alt=""> -->
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div><!-- /.big-rectangle -->
                </div>
                <div class="col-sm-4">
                    <div class="main-service text-left">
                        <div class="rectangle">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <h3>Commitment</h3>
                        <p>Dedicated to taking ownership of tasks, achieving objectives with a strong sense of responsibility, and continuously expanding knowledge through self-learning and professional development.</p>
                    </div><!-- /.main-service -->
                    <div class="main-service text-left">
                        <div class="rectangle">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>Resilience</h3>
                        <p>Adaptable in high-pressure environments, overcoming technical challenges and tight deadlines with a problem-solving mindset to deliver successful outcomes</p>
                    </div><!-- /.main-service -->
                </div>
            </div>
        </div>
    </section><!-- /.section-hello -->
    <!-- End Hello section -->

    <!-- Intro section 2 -->
    <section class="section-background section-intro background-overlay text-center">
        <div class="container">
            <p>Dual citizen of <span>the United States</span> and <span>Republic of Korea</span></p>
        </div>
    </section><!-- /.section-intro -->
    <!-- End Intro section 2 -->

    <!-- About section -->
    <section class="site-section section-about text-center" id="about">
        <div class="container">
            <h2>ABOUT CHRISTOPHER</h2>
            <!-- <p class="section-subtitle"><span></span></p> -->
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>SYSTEMS Administration</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>Programming</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>DEVOPS</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div><!-- /.rectangle -->
                        <h3>PROJECT MANAGEMENT</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>
            </div>
        </div>
    </section><!-- /.section-about -->
    <!-- End About section -->

    <!-- Skills section -->
    <section class="site-section section-skills">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Certifications</h2>
                    <div class="certification-about text-left">
                        <div class="medium-rectangle rectangle">
                            <img src="assets/img/cka.png" class="img-responsive" alt="">
                        </div><!-- /.rectangle -->
                        <h3 id="cka">Certified Kubernetes Administrator (CKA)</h3>
                    </div>
                    <div class="certification-about text-left">
                        <div class="medium-rectangle rectangle">
                            <img src="assets/img/aws-saa.png" class="img-responsive" alt="">
                        </div><!-- /.rectangle -->
                        <h3 id="aws-saa">AWS Certified Solutions Architect – Associate</h3>
                    </div>
                    <div class="certification-about text-left">
                        <div class="medium-rectangle rectangle">
                            <img src="assets/img/HSK.png" class="img-responsive" alt="" id="hsk-logo">
                        </div><!-- /.rectangle -->
                        <h3 id="hsk">HSK Level 5 (Chinese Proficiency)</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>SKILLS</h2>
                    <div class="progress-group">
                        <p>Systems Administration</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.progress-group -->

                    <div class="progress-group">
                        <p>DEVOPS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="90">
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.progress-group -->

                    <div class="progress-group">
                        <p>Web Development</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="85">
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.progress-group -->

                    <div class="progress-group">
                        <p>Server security</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="80">
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.progress-group -->
                </div>
            </div>
        </div>
    </section><!-- /.section-skills -->
    <!-- End Skills section -->

    <!-- Skills section -->
    <section class="site-section section-services" id="skills">
        <div class="container-fluid">
            <h2>Skills & Expertise</h2>
            <!-- <p class="section-subtitle"><span></span></p> -->
        </div>

        <div class="container">

            <div class="carousel slide" id="services-carousel">

                <div class="item-controls text-center">
                    <a href="#services-carousel" class="left btn carousel-control" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a href="#services-carousel" class="right btn carousel-control" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div><!-- /.item-controls -->

                <div class="carousel-indicators nav-tabs text-center">
                    <a data-target="#services-carousel" href="#" data-slide-to="0" class="active">
                        <div class="col-xs-4 col-sm-fifth">
                            <div class="service">
                                <div class="rectangle">
                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                </div>
                                <p class="hidden-xs">Systems Administration</p>
                            </div>
                        </div>
                    </a><!-- /.item -->
                    <a data-target="#services-carousel" href="#" data-slide-to="1">
                        <div class="col-xs-4 col-sm-fifth">
                            <div class="service">
                                <div class="rectangle">
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                </div>
                                <p class="hidden-xs">Programming</p>
                            </div>
                        </div>
                    </a><!-- /.item -->
                    <a data-target="#services-carousel" href="#" data-slide-to="2">
                        <div class="col-xs-4 col-sm-fifth">
                            <div class="service">
                                <div class="rectangle">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </div>
                                <p class="hidden-xs">DevOps</p>
                            </div>
                        </div>
                    </a><!-- /.item -->
                    <a data-target="#services-carousel" href="#" data-slide-to="3">
                        <div class="col-xs-4 col-sm-fifth">
                            <div class="service">
                                <div class="rectangle">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </div>
                                <p class="hidden-xs">Project Management</p>
                            </div>
                        </div>
                    </a><!-- /.item -->
                    <a data-target="#services-carousel" href="#" data-slide-to="4">
                        <div class="col-xs-4 col-sm-fifth">
                            <div class="service">
                                <div class="rectangle">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </div>
                                <p class="hidden-xs">Other Expertise</p>
                            </div>
                        </div>
                    </a><!-- /.item -->
                </div><!-- /.carousel-indicators -->
                    
                        
                <div class="carousel-inner">
                    <!-- Item 1 -->   
                    <div id="item1" class="item tab-pane active">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="service-info">
                                    <h3 class="service-title">Systems Administration</h3>
                                    <p>Experienced in managing on-premise and cloud infrastructure, particularly in <a class="highlight" data-target="#aws-saa">AWS</a>, with expertise in server operating systems like RHEL, CentOS, Windows Server, and Solaris. Strong background in data center administration, overseeing hardware, network, and server configurations.</p>  
                                    <p>Skilled in web servers like Apache and Tomcat, automation with PowerShell and Bash, and configuration management using Ansible and Terraform.</p>  
                                    <p>Proficient in virtualization, monitoring with Zabbix and Graylog, and technologies like Exchange Mail, DNS, Active Directory, NetApp ONTAP Storage, and Squid Proxy.</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="assets/img/system_administration.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <!-- Item 2 -->   
                    <div id="item2" class="item tab-pane">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="service-info">
                                    <h3 class="service-title">Programming</h3>
                                    <p>Proficient in programming with experience across multiple languages.</p> 
                                    <p>In Java, I have optimized JVM performance, run sample code to verify modules before deploying them to production, and managed Java-based web services in my previous role. I also have some experience with <a class="highlight" data-target="#android">Android programming</a>.</p>
                                    <p>Skilled in <a class="highlight" data-target="#algorithm">C/C++</a>, with strong problem-solving abilities developed during university and through algorithm challenges.</p> 
                                    <p>Proficient in <a class="highlight" data-target="#js,#nodejs"> JavaScript</a> and <a class="highlight" data-target="#sql">SQL</a> for web development, and familiar with Python.</p>
                                                                        
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="assets/img/programming.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <!-- Item 3 -->   
                    <div id="item3" class="item tab-pane">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="service-info">
                                    <h3 class="service-title">DevOps</h3>
                                    <p>Experienced in container orchestration, managing a 24/7 OpenShift cluster, git repositories, and overseeing integration and deployment pipelines.</p>
                                    <p>Skilled in Docker, OpenShift, GitLab, and <a class="highlight" data-target="#cka">Kubernetes</a>, and skilled in Jenkins for automation and continuous delivery.</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="assets/img/devops.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <!-- Item 4 -->   
                    <div id="item4" class="item tab-pane">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="service-info">
                                    <h3 class="service-title">Project Management</h3>
                                    <p>Have experince of leading the M365 onboarding project for 1000+ employees, overseeing the integration of the global entity's infrastructure with local systems. Managed cross-functional teams through weekly meetings, ensuring tasks were aligned with project goals and timelines.</p>
                                    <p>Reduced estimated project lead time of 8 months to 4 months by performing tasks concurrently and optimizing resource allocation. </p>                                 
                                    <p>Coordinated server and network configurations, provided hands-on support, and facilitated weekly meetings with 50+ global and local counterparts to address technical, security, and contract issues, with additional irregular meetings to resolve challenges and ensure alignment.</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="assets/img/project.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <!-- Item 5 -->   
                    <div id="item5" class="item tab-pane">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="service-info">
                                    <h3 class="service-title">Other Expertise</h3>
                                    <p>Experienced in server security and compliance using CIS Benchmarks, and PingCastle to secure Windows Active Directory environments.</p>

                                    <p>Have experience of resolving complex network connectivity challenges arising from the separation of network zones between servers, PCs, and the internet, ensuring secure and compliant operations across all network zones.</p>
                                    
                                    <p>With a background in both Business and Computer Science, possess a cross-functional mindset, bridging both technical and business perspectives to ensure effective collaboration between technical teams and business stakeholders.</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="assets/img/it.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.carousel-inner -->
            </div><!-- /.carousel -->
        </div>
    </section><!-- /.section-services -->
    <!-- End Skills section -->

    <!-- Portfolio/Works section --> 
    <section class="site-section section-works" id="stack">
        <div class="container">
            <h2>Built With</h2>
            <p class="section-subtitle"><span>Technologies That Make This Website Work</span></p>

            <div class="portfolio">
                <ul class="portfolio-sorting list-inline">
                    <li><a href="#" class="active" data-group="all">all</a></li>
                    <li><a href="#" class="" data-group="hosting">Hosting Platforms</a></li>
                    <li><a href="#" class="" data-group="frontend">Frontend</a></li>
                    <li><a href="#" class="" data-group="backend">Backend</a></li>
                </ul><!-- /.portfolio-sorting  -->
                
                <div id="grid">                        
                    <!-- Portfolio item --> 
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["hosting"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/github.png" alt="" class="img-res">
                                <a href="https://github.com/rectuspin/blog"  target="_blank" class="rectangle"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Github</h3>
                                <p>Source code and images</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["hosting"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/render.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Render</a></h3>
                                <p>Backend - Node.js runtime</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["hosting"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/supabase.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Supabase</a></h3>
                                <p>Database - PostgreSQL</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["frontend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/html.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>HTML</a></h3>
                                <p>Structure</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["frontend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/css.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>CSS</a></h3>
                                <p>Styling</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["frontend"]'>
                        <div class="portfolio-item" id="js">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/javascript.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Javascript</a></h3>
                                <p>Client side functionality</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["frontend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/bootstrap.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Bootstrap</a></h3>
                                <p>Responsive design</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["frontend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/jquery.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>jQuery</a></h3>
                                <p>DOM Manipulation</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["backend"]'>
                        <div class="portfolio-item" id="nodejs">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/nodejs.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Node.js</a></h3>
                                <p>Runtime environment</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["backend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/ejs.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>EJS</a></h3>
                                <p>Templating engine</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["backend"]'>
                        <div class="portfolio-item">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/express.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>Express</a></h3>
                                <p>Web framework for Node.js</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                    <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["backend"]'>
                        <div class="portfolio-item" id="sql">
                            <div class="portfolio-item-thumb">
                                <img src="assets/img/postgresql.png" alt="" class="img-res">
                            </div><!-- /.portfolio-item-thumb  -->
                            <div class="portfolio-info">
                                <h3>PostgreSQL</a></h3>
                                <p>Database</p>
                            </div><!-- /.portfolio-info  -->
                        </div>
                    </div><!-- /.col-md-3  -->
                </div><!-- /#grid -->
            </div>
        </div>
    </section><!-- /.section-works -->
    <!-- End Works section --> 

    <!-- Me section --> 
    <section class="section-background section-me background-overlay text-center">
        <div class="container page-scroll">
            <h2>Are You Impressed By My Work?</h2>
            <a href="#contact" class="btn">GET IN TOUCH</a>
        </div>
    </section><!-- /.section-me -->
    <!-- End Me section --> 

    <!-- History section --> 
    <section class="section-history" id="history">
        <div class="container">          
            <div class="text-center section-diff-title">     
                <h2>My Journey</h2>
            </div> 
            <p class="section-subtitle text-center"><span>Education and Work Experience</span></p>
            <!-- Timeline --> 
            <ul class="timeline">
                <!-- Timeline badge --> 
                <li class="timeline-start">
                    <div class="rectangle"><span>2013</span></div>
                </li><!-- /.timeline-start -->

                <!-- Timeline job & description  --> 
                <li>
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-date">
                                <p>MAR</p>
                            </div><!-- /.timeline-date -->
                            <div class="timeline-position">
                                <p>Sogang University</p>
                            </div><!-- /.timeline-position -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/Sogang.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Seoul, Republic of Korea</p>
                            <p>Started bachelor's degree program</p><br>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li>

                <!-- Timeline badge --> 
                <li class="timeline-start">
                    <div class="rectangle"><span>2014</span></div>
                </li><!-- /.timeline-start -->

                <!-- Timeline job & description, inverted  --> 
                <li class="timeline-inverted">
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-position">
                                <p>NATIONAL SERVICE</p>
                            </div><!-- /.timeline-position -->
                            <div class="timeline-date">
                                <p>AUG</p>
                            </div><!-- /.timeline-date -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/mma.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Seoul, Republic of Korea</p>
                            <p>2 years of mandatory national service, as required by the Republic of Korea (Aug 2014-Aug 2016)</p><br>
                            <p>Received the Exemplary Award from the mayor of Seoul</p>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li><!-- /.timeline-inverted -->
                
                <!-- Timeline badge --> 
                <li class="timeline-start">
                    <div class="rectangle"><span>2019</span></div>
                </li><!-- /.timeline-start --> 


                <!-- Timeline job & description  --> 
                <li>
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-date">
                                <p>Aug</p>
                            </div><!-- /.timeline-date -->
                            <div class="timeline-position">
                                <p>Nanyang Technological University</p>
                            </div><!-- /.timeline-position -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/NTU_1.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Singapore, Singapore</p>
                            <p>One-semester exchange program<br>Computer Science<br>(Aug 2019-Dec 2019)</p>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li>

                <!-- Timeline badge --> 
                <li class="timeline-start">
                    <div class="rectangle"><span>2021</span></div>
                </li><!-- /.timeline-start -->

                <!-- Timeline job & description, inverted  --> 
                <li class="timeline-inverted">
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-position">
                                <p>Sogang University</p>
                            </div><!-- /.timeline-position -->
                            <div class="timeline-date">
                                <p>FEB</p>
                            </div><!-- /.timeline-date -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/Sogang.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Seoul, Republic of Korea</p>
                            <p>Graduated from Sogang University (Double major)</p><br>
                            <p>Bachelor of Business Administration - Business Administration<br>Bachelor of Science in Engineering - Computer Science and Engineering</p>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li><!-- /.timeline-inverted -->
                <!-- Timeline job & description  --> 
                <li>
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-date">
                                <p>MAR</p>
                            </div><!-- /.timeline-date -->
                            <div class="timeline-position">
                                <p>AXA General Insurance Co. Ltd.</p>
                            </div><!-- /.timeline-position -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/AXA.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Seoul, Republic of Korea</p>
                            <p>Started working as System Administrator</p>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li>                    
                <!-- Timeline badge --> 
                <li class="timeline-start">
                    <div class="rectangle"><span>2023</span></div>
                </li><!-- /.timeline-start -->
                <!-- Timeline job & description, inverted  --> 
                <li class="timeline-inverted">
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-position">
                                <p>AXA General Insurance Co. Ltd.</p>
                            </div><!-- /.timeline-position -->
                            <div class="timeline-date">
                                <p>FEB</p>
                            </div><!-- /.timeline-date -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/AXA.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Seoul, Republic of Korea</p>
                            <p>Started an additional role as Project Manager</p><br>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li><!-- /.timeline-inverted -->
                <li>
                    <div class="rectangle timeline-rectangle"></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <div class="timeline-date">
                                <p>JUN</p>
                            </div><!-- /.timeline-date -->
                            <div class="timeline-position">
                                <p>Soochow University</p>
                            </div><!-- /.timeline-position -->
                        </div><!-- /.timeline-heading -->
                        <div class="timeline-body">
                            <div class="timeline-body-thumb">
                                <img src="assets/img/Soochow.png" class="img-res" alt="">
                            </div><!-- /.timeline-body-thumb -->
                            <p class="translucent">Taipei, Republic of China (Taiwan)</p>
                            <p>Mandarin Chinese language program (Jun 2023-Nov 2023) </p>
                        </div><!-- /.timeline-body -->
                    </div><!-- /.timeline-panel -->
                </li>   
                <!-- Timeline Badge  --> 
                <li class="timeline-end">
                    <div class="rectangle"><span>More</span></div>
                </li><!-- /.timeline-end -->
            </ul><!-- /.timeline -->
        </div>
    </section><!-- /.section-history -->
    <!-- End History section --> 

    <!-- Resume section --> 
    <section class="section-background section-resume background-overlay text-center" id="resume">
        <div class="container">
            <div class="rectangle">
                <i class="fa fa-info"></i>
            </div>
            <p>Do you want to know more about me?</p>
            <p>Here is my resume!</p>
            <a href="https://drive.google.com/file/d/1MhgsN8GKYFxUnn2Ak_xUnvyk_9vUpLlF/view" target="_blank" class="btn btn-inverted">Go</a>
        </div>
    </section><!-- /.section-resume-->
    <!-- End Resume section --> 
        
    <!-- Activities section -->
    <section class="site-section section-activities" id="activity">
        <div class="container">
            <h2>Activities</h2>
            <p class="section-subtitle"><span>Highlighted Activities I've Been Involved In</span></p>               
            <div class="activity">
                <div class="row">   
                    <!-- Activities 1 --> 
                    <div class="col-md-3 col-xs-6">
                        <div class="activities">
                            <div class="flipper" id="android">
                                <div class="activities-front">
                                    <div class="activities-thumb">
                                        <img src="assets/img/android_robot.svg" class="img-res" alt="">
                                    </div>  <!-- /.activities-thumb -->
                                    <p class="activities-front-name">Android App Development</p>
                                </div><!-- /.activities-front -->
                                <div class="activities-back">
                                    <div class="activities-info">
                                        <h3 class="activities-back-name">Android App Development</h3>
                                        <p class="activities-back-position">in Nanyang Technological University</p>
                                        <p class="activities-back-info">Developed a social media
                                            android application for
                                            Singapore's sporting events
                                            and public sports facilities</p>
                                        <div class="social-icons small">
                                            <a href="https://github.com/rectuspin/CZ2006_final" target="_blank" class="rectangle"><i class="fa fa-github"></i></a>
                                        </div>
                                    </div><!-- /.activities-back-info -->
                                </div><!-- /.activities-back -->  
                            </div>         
                        </div><!-- /.activities 1-->       
                    </div>
                    <!-- Activities 2 --> 
                    <div class="col-md-3 col-xs-6">
                        <div class="activities">
                            <div class="flipper">
                                <div class="activities-front">
                                    <div class="activities-thumb">
                                        <img src="assets/img/Best-Coder.png" class="img-res" alt="">
                                    </div>  <!-- /.activities-thumb -->
                                    <p class="activities-front-name">Coding Competitions</p>
                                </div><!-- /.activities-front -->
                                <div class="activities-back">
                                    <div class="activities-info">
                                        <h3 class="activities-back-name">Coding Competitions</h3>
                                        <p class="activities-back-position"></p>
                                        <p class="activities-back-info">1.  <b>2019: </b>Data analytics competition, Singapore - Used Python with Pandas and NumPy</p>
                                        <p class="activities-back-info">2. <b>2021: </b>Startup coding festival, Korea - Advanced to the second round</p>
                                        <div class="social-icons small">
                                            <a href="https://www.youtube.com/watch?v=JHVrEGJTE_M" target="_blank" class="rectangle"><i class="fa fa-hand-pointer-o"></i></a>
                                            <a href="https://scofe2021.goorm.io/assessment/25665/startup-coding-festival-2021" target="_blank" class="rectangle"><i class="fa fa-hand-peace-o"></i></a>
                                        </div>
                                    </div><!-- /.activities-back-info -->
                                </div><!-- /.activities-back -->  
                            </div>         
                        </div><!-- /.activities 3 -->       
                    </div>
                    <!-- Activities 3 --> 
                    <div class="col-md-3 col-xs-6">
                        <div class="activities">
                            <div class="flipper" id="algorithm">
                                <div class="activities-front">
                                    <div class="activities-thumb">
                                        <img src="assets/img/algorithm.png" class="img-res" alt="">
                                    </div>  <!-- /.activities-thumb -->
                                    <p class="activities-front-name">Algorithm Problem Solving</p>
                                </div><!-- /.`-front -->
                                <div class="activities-back">
                                    <div class="activities-info">
                                        <h3 class="activities-back-name">Algorithm Problem Solving</h3>
                                        <p class="activities-back-position"></p>
                                        <p class="activities-back-info">Gained proficiency in data structures and algorithms through programming in C/C++</p>
                                        <div class="social-icons small">
                                            <a href="https://github.com/rectuspin/Algoritm_PS" target="_blank" class="rectangle"><i class="fa fa-github"></i></a>
                                        </div>
                                    </div><!-- /.activities-back-info -->
                                </div><!-- /.activities-back -->  
                            </div>         
                        </div><!-- /.activities -->       
                    </div>
                    <!-- Activities 4 --> 
                    <div class="col-md-3 col-xs-6">
                        <div class="activities">
                            <div class="flipper">
                                <div class="activities-front">
                                    <div class="activities-thumb">
                                        <img src="assets/img/sgcc.png" class="img-res" alt="">
                                    </div>  <!-- /.activities-thumb -->
                                    <p class="activities-front-name">Computer Club</p>
                                </div><!-- /.activities-front -->
                                <div class="activities-back">
                                    <div class="activities-info">
                                        <h3 class="activities-back-name">Sogang Computer Club (SGCC)</h3>
                                        <p class="activities-back-position">in Sogang University</p>
                                        <p class="activities-back-info">As Vice President, organized and participated in group study sessions, membership training, and seminars for 80+ members in univsersity</p>
                                        <div class="social-icons small">
                                            <a href="https://www.instagram.com/sgcc_sogang?igsh=N3ZpejM2b2J5dG5r" target="_blank" class="rectangle"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div><!-- /.activities-back-info -->
                                </div><!-- /.activities-back -->  
                            </div>         
                        </div><!-- /.activities 4 -->       
                    </div>
                </div>
            </div><!-- /.activity -->   
            <div class="more-activity">
                <p>Interested in a more personal activity?</p>
                <p><a href="/world" class="rectangle"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </section><!-- /.section-activities -->
    <!-- End Activities section -->


    <!-- Contacts section --> 
    <section class="site-section section-contact text-center" id="contact">
        <div class="container">
            <h2>CONTACT</h2>
            <!-- <p class="section-subtitle"><span>Here</span></p> -->
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <a class="clickable-icon" href="mailto:your-email@example.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div><!-- /.rectangle -->
                        <h3>Email</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-6 col-xs-12">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <a class="clickable-icon" href="https://www.linkedin.com/in/christopher-suk-hwan-yu" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </div><!-- /.rectangle -->
                        <h3>LinkedIn</h3>
                        <p></p>
                    </div><!-- /.feature-about -->
                </div>                    
        </div>
    </section><!-- /.section-contact-->
    <!-- End Contacts section --> 

    <!-- Social Networks section --> 
    <section class="section-networks blue-bg">

    </section><!-- /.section-networks-->
    <!-- End Social Networks section --> 

</main><!-- /#main -->
<!-- End Main content -->

<%- include('partials/footer') %>
