<%- include('partials/header') %>

<!-- Main content -->
<main id="main" class="site-main">
    <section class="section-worldmap">
        <h2>Countries I've Visited</h2>
        <p class="section-subtitle">Where Have You Traveled?</p>
        <div id="country-name-box"></div>
        <div class="country-search-container">
            <input id="country-search-bar" type="text" placeholder="Search Country Name">
            <button id="country-search-button" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <ul id="search-suggestions"></ul>
        </div>
    </section>
    <div class="worldmap-container">
        <%- include('partials/worldmap') %>
    </div>
</main>

<%- include('partials/footer') %>